{% extends "base.html" %}
{% load static %}
<!-- https://bootstrap-4.ru/docs/4.0/components/navs/#javascript-behavior -->
<!-- https://bootstrap-4.ru/docs/4.0/components/dropdowns/ -->
<!-- https://bootstrap-4.ru/docs/4.0/components/modal/ -->
{% block head%}
<link rel="stylesheet" href="{% static 'css/join.css'%}">
{% endblock head %}
{% block title %}Хакатон | Сброс пароля{% endblock title %}
{% block content %}
{% include "header.html" %}
<div class="base-container d-flex w-100 h-100 p-3 pt-md-5 mx-auto flex-column">
    <main role="main" class="inner cover" id="main">
        <h1 class="cover-heading display-4" id='name'>Сброс пароля</h1>
        <p>Введите email на который будет отправлена ссылка для сброса пароля</p>
        <form method="post" class="form mt-3" id="email_form">
            {% csrf_token %}
            <input type="text" name="email" class="form-control mt-1" placeholder="Email" maxlength="254" required="" id="id_email">
            <p id="error_mess"></p>
            <!-- <input type="button" value="Отправить" onclick="sendEmail()" class="btn btn-primary btn-blue mt-3" id="btn_submit"> -->
          </form>
          <button href="#" class="btn btn-primary" onclick="sendEmail()" id="btn_submit">Отправить</button>
    </main>
    <!-- <footer class=" mastfoot mt-auto">
            <div class="inner">
                <p>Machalka</p>
            </div>
        </footer> -->
</div>
{% endblock content %}
{%block scripts%}
<script src="{% static 'js/cookie.js' %}"></script>
<script>
    function sendEmail(){
        $("#error_mess").text('');
        $("#btn_submit").prop("disabled",true);
        $("#btn_submit").text("Загрузка...");
        $.ajax({
            url: '/auth/ajax',
            method: 'post',
            dataType: 'json',
            headers: { "X-CSRFToken": getCookie("csrftoken") },
            data: {"action":"reset-password-email", "email":$("#email_form").find("input[name=email]").val()},
            success: function (data) {
                $("#main").html('<h1 class="cover-heading display-4" id="name">Сброс пароля</h1><h3 class="mt-3">На ваш email была отправленна ссылка для востановления пароля</h3>');
            },
            error: function (data) {
                data = JSON.parse(data["responseText"]);
                console.log(data);
                $("#error_mess").text(data["error"]);
                // let errors="";
                // errors+='<p class="lead" style="font-size: 1em;">'+data["error"]+'</p>\n';
                // login_result_form.innerHTML=errors;
                // login_result_form.style=style;
            }
        });
        $("#btn_submit").prop("disabled",false);
        $("#btn_submit").text("Отправить");
    }
</script>
{%endblock scripts%}