{% extends "base.html" %}
{% load static %}
<!-- https://bootstrap-4.ru/docs/4.0/components/navs/#javascript-behavior -->
<!-- https://bootstrap-4.ru/docs/4.0/components/dropdowns/ -->
<!-- https://bootstrap-4.ru/docs/4.0/components/modal/ -->
<!-- https://getbootstrap.com/docs/4.0/components/card/ -->
{% block head%}
<link rel="stylesheet" href="{% static 'css/index.css'%}">
<link rel="stylesheet" href="{% static 'css/join.css'%}">
<!-- <link rel="stylesheet" href="{% static 'card_style.css'%}"> -->
{% endblock head %}
{% block title %}Хакатон | Загрузка решения{% endblock title %}
{% block content %}
<div class="base-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div class="">
            <h3 class="header-title">Хакатон</h3>
            {% if request.user.is_authenticated %}
            <p>{{ request.user.first_name }}</p> <a href="../auth/logout"
                class="btn btn-secondary btn-sm btn-red header-logout">Выйти</a>
            {% else %}
            <a href="/auth/login" class="btn btn-secondary btn-sm btn-blue header-login">Войти</a>
            <a href="/auth/join" class="btn btn-secondary btn-sm btn-green header-join mr-1">Регистрация</a>
            {% endif %}
        </div>
    </header>
    <main role="main" id="main" class="inner cover">
        <div><h1 style="padding-bottom: 1em;">{{title}}</h1></div>
        <div><p>{{task}}</p></div>
        {%if deadline%}
        <div><p>Дедлайн: {{deadline}}</p><p>ПИПиПОП</p></div>
        {%endif%}
        {% if is_leader %}
        <a href="create-solution" class="btn btn-success">Загрузить решение</a>
        {% endif %}
    </main>
    <div class="base-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <h1></h1>
      <form method="post" class="form mt-5">
        {% csrf_token %}
        {% for field in form %}
        {{field.errors}}
        {{field}}
        {% endfor %} 
        <button type="submit" class="btn btn-primary btn-blue mt-3">Загрузка</button>
      </form>
      </div>
    <!-- <footer class=" mastfoot mt-auto">
            <div class="inner">
                <p>Machalka</p>
            </div>
        </footer> -->
</div>
{% endblock content %}
{%block scripts%}
<!-- <script src="{% static 'get_tasks.js' %}"></script> -->
<style>

</style>
{%endblock scripts%}