{% extends "base.html" %}
{% load static %}
<!-- https://bootstrap-4.ru/docs/4.0/components/navs/#javascript-behavior -->
<!-- https://bootstrap-4.ru/docs/4.0/components/dropdowns/ -->
<!-- https://bootstrap-4.ru/docs/4.0/components/modal/ -->
<!-- https://getbootstrap.com/docs/4.0/components/card/ -->
{% block header%}
<link rel="stylesheet" href="{% static 'css/index.css'%}">
<link rel="stylesheet" href="{% static 'css/join.css'%}">
<link rel="stylesheet" href="{% static 'card_style.css'%}">
{% endblock header %}
{% block title %}Хакатон|Задания{% endblock title %}
{% block content %}
<div class="base-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div class="">
            <h3 class="header-title">Хакатон</h3>
            {% if request.user.is_authenticated %}
            <p>{{ request.user.first_name }}</p> <a href="../auth/logout"
                class="btn btn-secondary btn-sm btn-red header-logout">Выйти</a>
            {% else %}
            <a href="/auth/login" class="btn btn-secondary btn-sm btn-blue header-login">Войти</a>
            <a href="/auth/join" class="btn btn-secondary btn-sm btn-green header-join mr-1">Регистрация</a>
            {% endif %}
        </div>
    </header>
    <h1 style="padding-bottom: 1em;">Задания</h1>
    <main role="main" id="main" class="inner cover">
        <!-- список заданий -->
    </main>

    <!-- модальное окно -->
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal-title"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="modal-body">
            </div>
            <div class="modal-footer" id="modal-footer">
            </div>
          </div>
        </div>
      </div>
    <!-- <footer class=" mastfoot mt-auto">
            <div class="inner">
                <p>Machalka</p>
            </div>
        </footer> -->
</div>
{% endblock content %}
{%block scripts%}
<script src="{% static 'get_tasks.js' %}"></script>
<style>

</style>
{%endblock scripts%}