{% extends "base.html" %}
{% load static %}

{% block header%}<link rel="stylesheet" href="{% static 'css/index.css'%}">{% endblock header %}
{% block title %}Хакатон | Компания{% endblock title %}
{% block content %}
    <div class="base-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div class="">
                <h3 class="header-title">Хакатон</h3>
                {% if request.user.is_authenticated %}
                    <p>{{ request.user.first_name }}</p>
                    <a href="/auth/logout" class="btn btn-secondary btn-sm btn-red header-logout">Выйти</a>
                {% else %}
                    <a href="/auth/login" class="btn btn-secondary btn-sm btn-blue header-login">Войти</a>
                    <a href="/auth/join" class="btn btn-secondary btn-sm btn-green header-join mr-1">Регистрация</a>
                {% endif %}
            </div>
        </header>
        <main role="main">
            <h1 class="cover-heading">Компания не существует</h1>
            <p class="lead">Вы не представляете никакую компанию</p>
            <p class="lead">Но вы можете зарегистрировать свою компанию прямо сейчас</p>
            <p class="lead">
                <a href="/company/create" class="btn btn-lg btn-green">Зарегистрировать компанию</a>
            </p>
        </main>
        <!-- <footer class=" mastfoot mt-auto">
            <div>
                <p>Machalka</p>
            </div>
        </footer> -->

    </div>
    {% endblock content %}