.btn{
    border-width: 2px;
}
.base-container{
    max-width: 720px;
    text-align: center;
}
.btn-green{
    color: white;
    background-color: forestgreen;
    border-color: forestgreen;
}
.btn-green:hover{
    color: white;
    background-color: rgb(27, 109, 27);
    border-color: rgb(27, 109, 27);
}

.btn-blue{
    color: white;
    background-color: royalblue;
    border-color: royalblue;
}
.btn-blue:hover{
    color: white;
    background-color: rgb(55, 89, 192);
    border-color: rgb(55, 89, 192);
}

.btn-red{
    color: white;
    background-color: tomato;
    border-color: tomato;
}
.btn-red:hover{
    color: white;
    background-color: rgb(196, 60, 36);
    border-color: rgb(196, 60, 36);
}
.btn-gold{
    color: black;
    background-color: white;
    border-color: gold;
}
.btn-gold:hover{
    color: white;
    background-color:goldenrod;
    border-color: gold;
}
.header-title{
    float: left;
    margin-bottom: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-join{
    float: right;
    color: black;
    background-color: transparent;
    border-color: forestgreen;
}

.header-login{
    float: right;
    color: black;
    background-color: transparent;
    border-color: royalblue;
}
.header-logout{
    float: right;
    color: black;
    background-color: transparent;
    border-color: tomato;
}
.mastfoot {
    color: rgba(19, 17, 17, 0.5);
  }
