{% extends "base.html" %}
{% load static %}

{% block head%}<link rel="stylesheet" href="{% static 'css/index.css'%}">{% endblock head %}
{% block title %}Хакатон | Компания{% endblock title %}
{% block content %}
{% include "header.html" %}
    <div class="base-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main role="main">
            <h1 class="cover-heading  display-4">Компания не существует</h1>
            <img src="{%static 'svg/company.svg'%}" alt="команда и пес" style="width: 60%; margin-top: 3%; margin-bottom: 2%;">
            <p class="lead">Вы не представляете никакую компанию</p>
            <p class="lead">Но вы можете зарегистрировать свою компанию прямо сейчас</p>
            <p class="lead">
                <a href="/company/create" class="btn btn-lg btn-green">Зарегистрировать компанию</a>
            </p>
        </main>
        <!-- <footer class=" mastfoot mt-auto">
            <div>
                <p>Machalka</p>
            </div>
        </footer> -->

    </div>
    {% endblock content %}