{% extends "base.html" %}
{% load static %}
<!-- https://bootstrap-4.ru/docs/4.0/components/navs/#javascript-behavior -->
<!-- https://bootstrap-4.ru/docs/4.0/components/dropdowns/ -->
<!-- https://bootstrap-4.ru/docs/4.0/components/modal/ -->
<!-- https://getbootstrap.com/docs/4.0/components/card/ -->
{% block head%}
<link rel="stylesheet" href="{% static 'css/index.css'%}">
<link rel="stylesheet" href="{% static 'css/join.css'%}">
<link rel="stylesheet" href="{% static 'tasks/card_style.css'%}">
{% endblock head %}
{% block title %}Хакатон | Партнеры{% endblock title %}
{% block content %}
{% include "header.html" %}
<div class="base-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <h1 class=" display-4" style="padding-bottom: 1em;" id="tasks">Партнеры</h1>
    <main role="main" id="main" class="inner cover">
    </main>
</div>
{% endblock content %}
{%block scripts%}
<script>var img_empty="{%static 'svg/empty.svg'%}"</script>
<script src="{% static 'company/get_companies.js' %}"></script> 
{%endblock scripts%}