{% extends "base.html" %}
{% load static %}
<!-- https://bootstrap-4.ru/docs/4.0/components/navs/#javascript-behavior -->
<!-- https://bootstrap-4.ru/docs/4.0/components/dropdowns/ -->
<!-- https://bootstrap-4.ru/docs/4.0/components/modal/ -->
{% block head%}
<link rel="stylesheet" href="{% static 'css/index.css'%}">
<link rel="stylesheet" href="{% static 'css/svg.css'%}">
<link rel="stylesheet" href="{% static 'css/score.css'%}">
<link rel="stylesheet" href="{% static 'css/join.css'%}">
{% endblock head %}
{% block title %}Хакатон | {{company.name}}{% endblock title %}
{% block content %}
{% include "header.html" %}
<div class="base-container d-flex w-100 h-100 p-3 pt-md-5 mx-auto flex-column">
    <main role="main" class="inner cover">
      {% include "back_button.html" %}
      <div>
        <h1 class="cover-heading display-4" id='name'>{{company.name}}</h1>
        <p class="lead">{{company.description}}</p>
      </div>
      <div>
        <h3 class="display-6">Представители</h3>
        {%for i in rep%}
        <a href="/auth/profile/{{i.pk}}" style="color:black;"><p class="lead">{{i.first_name}} {{i.last_name}}</p></a>
        {%endfor%}
      </div>
    </main>
    <!-- <footer class=" mastfoot mt-auto">
            <div class="inner">
                <p>Machalka</p>
            </div>
        </footer> -->
</div>
{% endblock content %}
{%block scripts%}
<!-- <script>var token = '{{csrf_token}}'; var team_pk={{team_pk}}; var user_pk={{request.user.pk}};</script> -->
<!-- <script src="{% static 'number increase.js' %}"></script> -->
<!-- <script src="{% static 'data update.js' %}"></script> -->
<!-- <script src="{% static 'ajax.js' %}"></script> -->
<!-- <script>update(team_pk,'score');</script> -->
{%endblock scripts%}