{% extends "base.html" %}
{% load static %}

{% block head%}<link rel="stylesheet" href="{% static 'css/index.css'%}">{% endblock head %}
{% block title %}Хакатон{% endblock title %}
{% block content %}
{% include "header.html" %}
    <div class="base-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main role="main">
            <h1 class="cover-heading display-4">Доступ запрещен</h1>
            <img src="{%static 'svg/cancel.svg'%}" alt="ГАЛЯ! ОТМЕНА!" style="width: 60%; margin-top: 3%; margin-bottom: 2%;">
            <p class="lead">У вас недостаточно прав для просмотра данного контента</p>
            <!-- <p class="lead">Нажмите на кнопку "Решения" чтобы посмотреть доступные вам решения</p>
            <p class="lead">
                <a href="/tasks/solutions" class="btn btn-lg btn-green">Решения</a>
            </p> -->
        </main>
        <footer class=" mastfoot mt-auto">
            <!-- <div>
                <p>Machalka</p>
            </div> -->
        </footer>

    </div>
    {% endblock content %}