{% extends "base.html" %}
{% load static %}
<!-- https://bootstrap-4.ru/docs/4.0/components/navs/#javascript-behavior -->
<!-- https://bootstrap-4.ru/docs/4.0/components/dropdowns/ -->
<!-- https://bootstrap-4.ru/docs/4.0/components/modal/ -->
<!-- https://getbootstrap.com/docs/4.0/components/card/ -->
{% block head%}
<link rel="stylesheet" href="{% static 'css/index.css'%}">
<link rel="stylesheet" href="{% static 'css/join.css'%}">
<style>
.message{
    /* position: absolute; */
    display: inline-block;
    /* position: absolute; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 2px solid forestgreen;
    border-radius: 5px;
    min-height: 3em;
    /* width: 18.8em; */
    /* max-width: 40em; */
    min-width: 18.8em;
    display: none;
}
.message_text{
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
}
</style>
<!-- <link rel="stylesheet" href="{% static 'card_style.css'%}"> -->
{% endblock head %}
{% block title %}Хакатон | Загрузка решения{% endblock title %}
{% block content %}
    {% include "header.html" %}
    <div class="base-container d-flex w-100 h-100 p-3 mx-auto flex-column"></div>
    <main role="main" id="main" class="inner cover">
        <div class="base-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <h1 class=" display-4">Загрузка задания</h1>
            <div class="message mt-3" id="message"><p class="message_text" id="message_text">hello</p></div>
            <form method="post" class="form mt-1" enctype="multipart/form-data" id="task_form">
                  {% csrf_token %}
                  {{form.title}}
                  {{form.task}}
                  {{form.task_file}}
                  {{form.cost}}
                {{form.deadline}}
                  <!-- <button type=" submit" class="btn btn-primary btn-blue mt-3">Загрузка</button> -->
                  <input type="button" value="Загрузка" class="btn btn-primary btn-blue mt-3" id="upload_task">
            </form>
            <div id="form_result"></div>
        </div>
    </main>
{% endblock content %}
{%block scripts%}
<script src="{% static 'js/moment-with-locales.min.js' %}"></script>
<!-- <script src="{% static 'js/ru.js' %}"></script> -->
<!-- <script src="{% static 'get_tasks.js' %}"></script> -->
{{ form.media }}
<script src="{%static 'js/check-form.js'%}"></script>
  <script>
    var form_result = document.getElementById("form_result");
    $("#upload_task").click(function (e) {
        e.preventDefault();
        // $("#form_result").text("").delay(1000);
        let check_result=checkForm(document.forms["task_form"], 1024);
        if (check_result[0] && check_result[1]) {
            let x=$("#task_form")[0];
            var formData = new FormData(x);
            formData.append("action", "upload-task")
            $.ajax({
                url: '/tasks/managetasks',
                method: 'post',
                dataType: 'json',
                headers: {'X-CSRFToken': document.getElementsByName("csrfmiddlewaretoken")[0].value},
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    console.log(data["ok"]);
                    document.getElementById("task_form").reset();
                    $("#message_text").html("Задание <span style='font-weight: bold;'>"+data["ok"]+"</span> загружено");
                    $("#message").fadeIn().delay(5000).fadeOut(2000);
                },
                error: function (data) {
                    try {
                        data = JSON.parse(data["responseText"]);
                        // console.log(data);
                        let errors = "";
                        for (i in data["error"]) {
                            console.log(data["error"][i]);
                            errors += '<p class="lead" style="font-size: 1em;">' + data["error"][i] + '</p>\n';
                        }
                        form_result.innerHTML = errors;
                    }
                    catch{
                        form_result.innerHTML = '<p class="lead" style="font-size: 1em;">Ошибка подключения к серверу</p>'; 
                    }
                }
            })
        }
        else {
            let e='';
            if (!check_result[0]){
                e='<p class="lead" style="font-size: 1em;">Заполните все обязательные поля</p>';
            }
            if (!check_result[1]){
                e+='<p class="lead" style="font-size: 1em;">Файл слишком большой</p>';
            }
            form_result.innerHTML = e;
        }
});
</script>
{%endblock scripts%}