{% extends "base.html" %}
{% load static %}
<!-- https://bootstrap-4.ru/docs/4.0/components/navs/#javascript-behavior -->
<!-- https://bootstrap-4.ru/docs/4.0/components/dropdowns/ -->
<!-- https://bootstrap-4.ru/docs/4.0/components/modal/ -->
<!-- https://getbootstrap.com/docs/4.0/components/card/ -->
{% block head%}
<link rel="stylesheet" href="{% static 'css/index.css'%}">
<link rel="stylesheet" href="{% static 'css/join.css'%}">
<link rel="stylesheet" href="{% static 'tasks/message_style.css'%}">
<!-- <link rel="stylesheet" href="{% static 'card_style.css'%}"> -->
{% endblock head %}
{% block title %}Хакатон | Загрузка решения{% endblock title %}
{% block content %}
    {% include "header.html" %}
    <div class="base-container d-flex w-100 h-100 p-3 mx-auto flex-column"></div>
    <main role="main" id="main" class="inner cover">
        <div class="base-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <h1 class=" display-4">Загрузка задания</h1>
            <div class="message mt-3" id="message"><p class="message_text" id="message_text">hello</p></div>
            <form method="post" class="form mt-1" enctype="multipart/form-data" id="task_form">
                  {% csrf_token %}
                  {{form.title}}
                  {{form.task}}
                  {{form.task_file}}
                  {{form.cost}}
                {{form.deadline}}
                  <!-- <button type=" submit" class="btn btn-primary btn-blue mt-3">Загрузка</button> -->
                  <input type="button" value="Загрузка" class="btn btn-primary btn-blue mt-3" id="upload_task">
            </form>
            <div id="form_result"></div>
        </div>
    </main>
{% endblock content %}
{%block scripts%}
<script src="{% static 'js/moment-with-locales.min.js' %}"></script>
<!-- <script src="{% static 'js/ru.js' %}"></script> -->
<!-- <script src="{% static 'get_tasks.js' %}"></script> -->
{{ form.media }}
<script src="{%static 'js/check-form.js'%}"></script>
<script src="{%static 'tasks/manage_tasks.js'%}"></script>
{%endblock scripts%}