{% extends "base.html" %}
{% load static %}
<!-- https://bootstrap-4.ru/docs/4.0/components/navs/#javascript-behavior -->
<!-- https://bootstrap-4.ru/docs/4.0/components/dropdowns/ -->
<!-- https://bootstrap-4.ru/docs/4.0/components/modal/ -->
<!-- https://getbootstrap.com/docs/4.0/components/card/ -->
{% block head%}
<link rel="stylesheet" href="{% static 'css/index.css'%}">
<link rel="stylesheet" href="{% static 'css/join.css'%}">
<!-- <link rel="stylesheet" href="{% static 'card_style.css'%}"> -->
<style>
  .create-tack-div{
  border: 2px solid forestgreen;
  border-radius: 10px;
  max-width: 70%;
}
</style>
{% endblock head %}
{% block title %}Хакатон | {{title}}{% endblock title %}
{% block content %}
{% include "header.html" %}
<div class="base-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main role="main" id="main" class="inner cover">
        <div><h1 style="padding-bottom: 1em;">{{title}}</h1></div>
        <div>
          <p>{{task}}</p>
        {%if file is not None%}
        <a href="/media/{{file}}" target="_blank"><p>{{file}}</p></a>
        {%endif%}
      </div>
        <div><p>{{company}}</p></div>
        {% if is_leader and request.user.team.task.pk == pk%}
        <a class="btn btn-success" data-toggle="collapse" href="#solutionForm" role="button" aria-expanded="false" aria-controls="solutionForm">Загрузить решение</a>
        <div class="collapse" id="solutionForm">
          <form method="post" class="form mt-5"  enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            {{field.errors}}
            {{field}}
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-blue mt-3">Отправка</button>
          </form>
        </div>
        <div class="mt-5">
          <a class="text-dark" data-toggle="collapse" href="#solutionHistory" role="button" aria-expanded="false" aria-controls="solutionHistory"><h3 class="dropdown-toggle">История решений</h3></a>
          <div class="collapse container" id="solutionHistory">
            <div class="row mb-1" style="font-weight: bold;">
              <div class="col-sm"><p>Файл</p></div> <div class="col-sm"><p>Ссылка</p></div> <div class="col-sm"><p>Загружено</p></div>
            </div>
            {%for i in solutions%}
            <div class="row">
              <div class="col-sm"><a href="/media/{{i.solution_file}}" target="_blank">{{i.solution_file}}</a></div> <div class="col-sm"><a href="{{i.solution_link}}">{{i.solution_link}}</a></div> <div class="col-sm"><p>{{i.created}}</p></div>
            </div>
            <hr>
            {%endfor%}
          </div>
        </div>
        {%elif is_leader and request.user.team.task == None%}
        {% csrf_token %}
        <a class="btn btn-primary" onclick="takeTask({{pk}})">Выбрать это задание</a>
        {% endif %}
    </main>

    <!-- <footer class=" mastfoot mt-auto">
            <div class="inner">
                <p>Machalka</p>
            </div>
        </footer> -->
</div>
{% endblock content %}
{%block scripts%}
<script>
function takeTask(task){
  $.ajax({
    url: '/tasks/managetasks',
    method: 'post',
    dataType: 'json',
    headers: { 'X-CSRFToken': document.getElementsByName("csrfmiddlewaretoken")[0].value },
    data: {"action":"take-task", "task":task},
    success: function (data) {
      window.location.reload();
    },
    error: function (data) {
      console.log(data["error"]);
    }
  })
}
</script>
{%endblock scripts%}