{% extends "base.html" %}
{% load static %}

{% block head%}
<link rel="stylesheet" href="{% static 'css/index.css'%}">{% endblock head %}
{% block title %}Хакатон | Приглашение в {{team}}{% endblock title %}
{% block content %}
{% include "header.html" %}
<div class="base-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main role="main">
        {% if request.user.team is None%}
        <h1>Приглашение</h1>
        <p>Вас приглашают в группу {{team}}</p>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="team_id" value="{{team}}" class="form-control mt-1">
            <button type="submit" class="btn btn-primary btn-blue mt-3">Вступить</button>
        </form>
        {%else%}
        <br>
        <h1>Вы уже состоите в команде</h1>
        <p>Прежде чем вступить в эту команду, покиньте текущую команду</p>
        <a href="/team/view" class="btn btn-primary">Моя команда</a>
        {%endif%}
    </main>
    <!-- <footer class=" mastfoot mt-auto">
            <div>
                <p>Machalka</p>
            </div>
        </footer> -->

</div>
{% endblock content %}