{% extends "base.html" %}
{% load static %}
<!-- https://bootstrap-4.ru/docs/4.0/components/navs/#javascript-behavior -->
<!-- https://bootstrap-4.ru/docs/4.0/components/dropdowns/ -->
<!-- https://bootstrap-4.ru/docs/4.0/components/modal/ -->
{% block head%}
<link rel="stylesheet" href="{% static 'css/index.css'%}">
<link rel="stylesheet" href="{% static 'css/join.css'%}">
<link rel="stylesheet" href="{% static 'tasks/card_style.css'%}">
{% endblock head %}
{% block title %}Хакатон | Команды{% endblock title %}
{% block content %}
{% include "header.html" %}
<div class="base-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <h1 class="cover-heading mb-3 display-4" id='teams'>Команды</h1>
    <main role="main" class="inner cover" id="main">
    </main>
</div>
{% endblock content %}
{%block scripts%}
<!-- <script>var token = '{{csrf_token}}'; var team_pk = {{ team_pk }}; var user_pk = {{ request.user.pk }};</script> -->
<!-- <script src="{% static 'team/number increase.js' %}"></script> -->
<!-- <script src="{% static 'data update.js' %}"></script> -->
<!-- <script src="{% static 'team/ajax.js' %}"></script> -->
<!-- <script>update(team_pk,'score');</script> -->
<script>var img_empty_street="{%static 'svg/empty_street.svg'%}"</script>
<script src="{% static 'team/get_teams.js' %}"></script>
{%endblock scripts%}