{% extends "base.html" %}
{% load static %}
<!-- https://bootstrap-4.ru/docs/4.0/components/navs/#javascript-behavior -->
{% block header%}
<link rel="stylesheet" href="{% static 'css/index.css'%}">
<link rel="stylesheet" href="{% static 'css/svg.css'%}">
<link rel="stylesheet" href="{% static 'css/score.css'%}">
<link rel="stylesheet" href="{% static 'css/join.css'%}">
{% endblock header %}
{% block title %}Хакатон|Команда{% endblock title %}
{% block content %}
<div class="base-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div class="">
            <h3 class="header-title">Хакатон</h3>
            {% if request.user.is_authenticated %}
            <p>{{ request.user.first_name }}</p> <a href="../auth/logout"
                class="btn btn-secondary btn-sm btn-red header-logout">Выйти</a>
            {% else %}
            <a href="/auth/login" class="btn btn-secondary btn-sm btn-blue header-login">Войти</a>
            <a href="/auth/join" class="btn btn-secondary btn-sm btn-green header-join mr-1">Регистрация</a>
            {% endif %}
        </div>
    </header>
    <main role="main" class="inner cover">
        <h1 class="cover-heading" id='name'>{{team_name}}</h1>
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="teamSettings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Параметры
            </button>
            <div class="dropdown-menu" aria-labelledby="teamSettings">
              <a class="dropdown-item" data-toggle="modal" data-target="#leaveModal">Покинуть команду</a>
              {%if lider_id is request.user.id%}
              <a class="dropdown-item" href="#">Управление участниками</a>
              {%endif%}
            </div>
          </div>
        
          <div class="modal fade" id="leaveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Вы уверены что хотите покинуть команду?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Подумайте...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary btn-green header-join" data-dismiss="modal">Отмена</button>
                  <button type="button" class="btn btn-primary btn-red header-logout"  data-dismiss="modal" onclick="leaveTeam({{request.user.id}})">Выйти</button>
                </div>
              </div>
            </div>
          </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="score-tab" data-toggle="tab" href="#score" role="tab"
                    aria-controls="score" aria-selected="true">Счет</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="members-tab" data-toggle="tab" href="#members" role="tab"
                    aria-controls="members" aria-selected="false">Участники</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="contact"
                    aria-selected="false">Информация</a>
            </li>
            {%if lider_id is request.user.id%}
            <li class="nav-item">
                <a class="nav-link" id="manage-tab" data-toggle="tab" href="#manage" role="tab" aria-controls="contact"
                    aria-selected="false">Управление</a>
            </li>
            {%endif%}
        </ul>


        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="score-tab">
                <h2>Счет</h2>
                <br>
                <div class="trophy">
                    <div class="score-div">
                        <p class="score-p" id="score">0</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="members" role="tabpanel" aria-labelledby="members-tab">
                <!--список участников-->
            </div>
            <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
                <h3>Описание</h3>
                <p id='description'>{{discription}}</p>
                <br>
                <h3>Ссылка для связи</h3>
                <a href="{{link}}" target="_blank" id='link'>{{link}}</a>
            </div>
            {%if lider_id is request.user.id%}
            <div class="tab-pane fade show active" id="manage" role="tabpanel" aria-labelledby="manage-tab">
                <div id="message" class="base-container d-flex w-100 h-100 p-3 mx-auto flex-column">
                    <form class="form mt-5" id="form" action="">
                        {% csrf_token %}
                        <!-- <input type="text" name="team" placeholder="Название команды" value="{{team_name}}"
                            oninput="checkForm()" class="form-control mt-1" maxlength="100">
                        <textarea type="text" name="disc" placeholder="Описание" value="{{discription}}"
                            oninput="checkForm()" class="form-control mt-1" rows="5">{{discription}}</textarea>
                        <input type="text" name="link" placeholder="Ссылка для связи" value="{{link}}"
                            oninput="checkForm()" class="form-control mt-1" maxlength="2048"> -->
                            {% for field in form %}
                            {{field}}<p id="error_{{field.name}}"></p>
                            {% endfor %} 
                        <input type="button" value="Отправить" class="btn btn-green mt-3" id="submit" disabled>
                    </form>
                    <div id="result_form"></div> 
                </div>
                {%endif%}
                <script>
                    let team = document.getElementsByName('name');
                    let disc = document.getElementsByName('description');
                    let link = document.getElementsByName('link');
                    let sub = document.getElementById("submit");
                    let l_team = team[0].value = "{{team_name}}";
                    let l_desc = disc[0].value = "{{discription}}";
                    let l_link = link[0].value = "{{link}}";
                    function checkForm() {
                        if ((team[0].value != l_team || disc[0].value != l_desc || link[0].value != l_link) && (team[0].value != '' && disc[0].value != '' && link[0].value != '')) {
                            sub.disabled = false;
                        }
                        else {
                            sub.disabled = true;
                        }
                    }
                </script>
            </div>


        </div>
        <br>
        {%if lider_id is request.user.id%}
        <input type="text" value="{{url}}" id="url" style="min-height: 38px;" readonly="readonly"> <a onclick="copy()"
            class="btn btn-primary">Копировать</a>
        {%endif%}
    </main>
    <!-- <footer class=" mastfoot mt-auto">
            <div class="inner">
                <p>Machalka</p>
            </div>
        </footer> -->
</div>
<script>
    function copy() {
        copy_text = document.getElementById('url');
        copy_text.select();
        copy_text.setSelectionRange(0, 99999);
        document.execCommand("copy");
    }
</script>
{% endblock content %}
{%block scripts%}
<script>var token = '{{csrf_token}}';</script>
<script src="{% static 'number increase.js' %}"></script>
<!-- <script src="{% static 'data update.js' %}"></script> -->
<script src="{% static 'ajax.js' %}"></script>
<script>update({{team_pk}},'score');</script>
{%endblock scripts%}