{% extends "base.html" %}
{% load static %}
<!-- https://bootstrap-4.ru/docs/4.0/components/navs/#javascript-behavior -->
<!-- https://bootstrap-4.ru/docs/4.0/components/dropdowns/ -->
<!-- https://bootstrap-4.ru/docs/4.0/components/modal/ -->
{% block head%}
<link rel="stylesheet" href="{% static 'css/index.css'%}">
<link rel="stylesheet" href="{% static 'css/svg.css'%}">
<link rel="stylesheet" href="{% static 'css/score.css'%}">
<link rel="stylesheet" href="{% static 'css/join.css'%}">
{% endblock head %}
{% block title %}Хакатон | {{team_name}}{% endblock title %}
{% block content %}
{% include "header.html" %}
<div class="base-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main role="main" class="inner cover">
    <h1 class="cover-heading" id='name'>{{team_name}}</h1>
    <a style="margin-top: 1em;"
      onclick="showModal('Вы уверены что хотите покинуть команду?','Подумой...','&lt;button type=&quot;button&quot; class=&quot;btn btn-secondary btn-green header-join&quot; data-dismiss=&quot;modal&quot; id=&quot;modal-cancel&quot; onclick=&quot;&quot;&gt;Отмена&lt;/button&gt;&lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-red header-logout&quot;  data-dismiss=&quot;modal&quot; id=&quot;modal-submit&quot; onclick=&quot;leaveTeam({{request.user.pk}})&quot;&gt;Выйти&lt;/button&gt;')">Покинуть
      команду</a>

    <nav class="nav nav-tabs justify-content-center mt-2">
        <a class="nav-item nav-link active" id="nav-score-tab" data-toggle="tab" role="tab" aria-controls="nav-score"
          aria-selected="true" href="#nav-score">Счет</a>
        <a class="nav-item nav-link" id="nav-members-tab" data-toggle="tab" role="tab" aria-controls="nav-members"
          aria-selected="false" href="#nav-members">Участники</a>
        <a class="nav-item nav-link" id="nav-info-tab" data-toggle="tab" role="tab" aria-controls="nav-info"
          aria-selected="false" href="#nav-info">Информация</a>
        {%if lider_id is request.user.id%}
        <a class="nav-item nav-link" id="nav-control-tab" data-toggle="tab" role="tab" aria-controls="nav-control"
          aria-selected="false" href="#nav-control">Управление</a>
        {%endif%}
    </nav>

    <div class="tab-content" id="nav-tabContent" style="margin-bottom: 3em; margin-top: 1em;">
      <div class="tab-pane fade show active" id="nav-score" role="tabpanel" aria-labelledby="nav-score-tab">
        <h2>Счет</h2>
        <br>
        <div class="trophy">
          <div class="score-div">
            <p class="score-p" id="score">0</p>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-members" role="tabpanel" aria-labelledby="nav-members-tab">
        {%if lider_id is request.user.id%}
        <a onclick="activateManageMembers()">Управление участниками</a>
        {%endif%}
        <div id="members"></div>
        <!--список участников-->
        <!-- <a class="btn btn-primary btn-green" id="submit_members" hidden="true" onclick="submitMembers()">Применить</a>
              <a class="btn btn-secondary" id="cancel_members" hidden="true" onclick="cancelMembers()">Отмена</a> -->
      </div>
      <div class="tab-pane fade" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
        <!-- <h3>Описание</h3>
        <div id='description'></div>
        <br> -->
        <h3>Ссылка для связи</h3>
        <a href="{{link}}" target="_blank" id='link'>{{link}}</a>
      </div>
      <script>
        function formatText(text = "") {
          let result = "";
          for (i = 0; i < text.length - 5;) {
            if (text.slice(i, i + 5) == "[[n]]") {
              result += "\n";
              i += 5;
            }
            else if (text.slice(i, i + 5) == "[[r]]") {
              result += "\r";
              i += 5;
            }
            else {
              result += text[i];
              i += 1;
            }
          }
          return result;
        }
        document.getElementById("description").innerHTML = formatText("{{discription}}");
      </script>
      {%if lider_id is request.user.id%}
      <div class="tab-pane fade" id="nav-control" role="tabpanel" aria-labelledby="nav-control-tab">
        <div id="message" class="base-container d-flex w-100 h-100 p-3 mx-auto flex-column">
          <form class="form mt-5" id="form" action="">
            {% csrf_token %}
            {% for field in form %}
            {{field}}<p id="error_{{field.name}}"></p>
            {% endfor %}
            <input type="button" value="Отправить" class="btn btn-green mt-3" id="submit" disabled>
          </form>
          <div id="result_form"></div>
        </div>
        <script>
          let team = document.getElementsByName('name');
          let disc = document.getElementsByName('description');
          let link = document.getElementsByName('link');
          let sub = document.getElementById("submit");
          let l_team = team[0].value = "{{team_name}}";
          let l_desc = disc[0].value = formatText("{{discription}}");
          let l_link = link[0].value = "{{link}}";
          function checkForm() {
            if ((team[0].value != l_team || disc[0].value != l_desc || link[0].value != l_link) && (team[0].value != '' && disc[0].value != '' && link[0].value != '')) {
              sub.disabled = false;
            }
            else {
              sub.disabled = true;
            }
          }
        </script>
      </div>
      {%endif%}
    </div>
    {%if lider_id is request.user.id%}
    <input type="text" value="{{url}}" id="url" style="min-height: 38px;" readonly="readonly"> <a onclick="copy()"
      class="btn btn-primary">Копировать</a>
    {%endif%}
  </main>

  <!-- модальное окно -->
  <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-title"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modal-body">
        </div>
        <div class="modal-footer" id="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <!-- <footer class=" mastfoot mt-auto">
            <div class="inner">
                <p>Machalka</p>
            </div>
        </footer> -->
</div>
<script>
  function copy() {
    copy_text = document.getElementById('url');
    copy_text.select();
    copy_text.setSelectionRange(0, 99999);
    document.execCommand("copy");
  }
</script>
{% endblock content %}
{%block scripts%}
<script>var token = '{{csrf_token}}'; var team_pk = {{ team_pk }}; var user_pk = {{ request.user.pk }};</script>
<script src="{% static 'team/number increase.js' %}"></script>
<!-- <script src="{% static 'data update.js' %}"></script> -->
<script src="{% static 'team/ajax.js' %}"></script>
<!-- <script>update(team_pk,'score');</script> -->
{%endblock scripts%}