{% extends "base.html" %}
{% load static %}
<!-- https://bootstrap-4.ru/docs/4.0/components/navs/#javascript-behavior -->
<!-- https://bootstrap-4.ru/docs/4.0/components/dropdowns/ -->
<!-- https://bootstrap-4.ru/docs/4.0/components/modal/ -->
{% block head%}
<link rel="stylesheet" href="{% static 'css/index.css'%}">
<link rel="stylesheet" href="{% static 'css/join.css'%}">
<link rel="stylesheet" href="{% static 'tasks/card_style.css'%}">
<style>
    .create-tack-div{
    border: 2px solid forestgreen;
    border-radius: 10px;
    max-width: 70%;
}
</style>
{% endblock head %}
{% block title %}Хакатон | Команды{% endblock title %}
{% block content %}
{% include "header.html" %}
<div class="base-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <h1 class="cover-heading mb-3 display-4" id='teams'>Команды</h1>
    {%if not request.user.is_specialist and not request.user.is_superuser and request.user.team == None%}
    <div class="container create-tack-div mb-5" id="create-tack-div">
        <button id="btn-close" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="mb-3">
            <h3>Создать команду</h3>
        </div>
        <div>
            <p class="lead" style="margin-bottom: -.2em;">Создайте свою команду</p>
            <p class="lead">чтобы принять участие в Хаккатоне</p>
        </div>
        <div style=" margin-bottom: 0.5em;">
            <a class="btn btn-green btn-big" href="/team/create">Создать</a>
        </div>
    </div>
    {%elif request.user.team%}
    <div style=" margin-bottom: 0.5em;">
        <a class="btn btn-green btn-big" href="/team">Моя команда</a>
    </div>
    {%endif%}
    <main role="main" class="inner cover" id="main">
    </main>
</div>
{% endblock content %}
{%block scripts%}
<!-- <script>var token = '{{csrf_token}}'; var team_pk = {{ team_pk }}; var user_pk = {{ request.user.pk }};</script> -->
<!-- <script src="{% static 'team/number increase.js' %}"></script> -->
<!-- <script src="{% static 'data update.js' %}"></script> -->
<!-- <script src="{% static 'team/ajax.js' %}"></script> -->
<!-- <script>update(team_pk,'score');</script> -->
<script>var img_empty_street="{%static 'svg/empty_street.svg'%}"</script>
<script src="{% static 'team/get_teams.js' %}"></script>
<script>
$("#btn-close").click(function(){
    $("#create-tack-div").fadeOut(300);
    }
)
</script>
{%endblock scripts%}