{% extends "base.html" %}
{% load static %}

{% block head%}<link rel="stylesheet" href="{% static 'css/index.css'%}">{% endblock head %}
{% block title %}Хакатон | Команда{% endblock title %}
{% block content %}
{% include "header.html" %}
    <div class="base-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main role="main">
            {%for i in checkpoints%}
            <div class="mt-5">
                <a class="text-dark collapsed" data-toggle="collapse" href="#checkpoint{{i.pk}}" role="button" aria-expanded="false" aria-controls="checkpoint{{i.pk}}"><h3 class="dropdown-toggle">{{i.title}}</h3></a>
                <div class="container collapse" id="checkpoint{{i.pk}}">
                </div>
              </div>
            {%endfor%}
        </main>
        <!-- <footer class=" mastfoot mt-auto">
            <div>
                <p>Machalka</p>
            </div>
        </footer> -->

    </div>
    {% endblock content %}
    {%block scripts %}
    <script>
        var token = '{{csrf_token}}';
        var row = '<div class="row mb-1" style="font-weight: bold;">';
        var col = '<div class="col-sm">'
        var end_div = '</div>';
        function getCheckpoints() {
          $.ajax({
            headers: { "X-CSRFToken": token },
            url: '/team/ajax',
            method: 'post',
            dataType: 'json',
            data: { "action": "checkpoint-get-teams" },
            success: function (data) {
              console.log(data);
              displayCheckpoints(data);
            },
            error: function (data) {
              console.log(data["error"]);
            },
          });
          setTimeout(getCheckpoints, 1000);
        };
        function displayCheckpoints(data) {
          let checkp = data["checkpoints"];
          let teams = data["teams"];
          for (i in checkp) {
            let t = "";
            for (j in teams) {
              t += row;
              t += col;
              t += '<a href="/team/' + teams[j]["name"] + '">' + teams[j]["name"] + '</a>';
              t += end_div + end_div;
            }
            $("#checkpoint" + checkp[i]).html(t);
          }
        }
      getCheckpoints();
    </script>
    {%endblock scripts %}