{% extends "base.html" %}
{% load static %}

{% block head%}
<link rel="stylesheet" href="{% static 'css/index.css'%}">
{% endblock head %}
{% block title %}Хакатон | Команда{% endblock title %}
{% block content %}
{% include "header.html" %}
    <div class="base-container d-flex w-100 h-100 p-3 mx-auto flex-column" style="max-width: 1000px;">
        <main role="main">
            {%for i in checkpoints%}
            <div class="mt-5" id="div-checkpoint{{i.pk}}">
                <a class="text-dark collapsed" data-toggle="collapse" href="#checkpoint{{i.pk}}" role="button" aria-expanded="false" aria-controls="checkpoint{{i.pk}}"><h3 class="dropdown-toggle">{{i.title}}</h3></a>
                <div class="container collapse" id="checkpoint{{i.pk}}">
                </div>
              </div>
            {%endfor%}
        </main>
        <!-- <footer class=" mastfoot mt-auto">
            <div>
                <p>Machalka</p>
            </div>
        </footer> -->

    </div>
    {% endblock content %}
    {%block scripts %}
    <script>
        var token = '{{csrf_token}}';
        var row = '<div class="row mb-1" style="font-weight: bold;">';
        var col = '<div class="col-sm">'
        var end_div = '</div>';
        var active_checkpoint=null;
        var x=null;
        function getCheckpoints() {
          $.ajax({
            headers: { "X-CSRFToken": token },
            url: '/team/ajax',
            method: 'post',
            dataType: 'json',
            data: { "action": "checkpoint-get-teams" },
            success: function (data) {
              console.log(data);
              x=data;
              displayCheckpoints(data);
            },
            error: function (data) {
              console.log(data["error"]);
            },
          });
          // setTimeout(getCheckpoints, 6000);
        };
        function displayCheckpoints(data) {
          let checkp = data["checkpoints"];
          let teams = data["teams"];
          let solutions = data["solutions"];
          let checked = data["checked"];
          let rating = data["rating"];
          let sol_list="";
          for (i in checkp) {
            let t = "";
            for (j in teams) {
              t += row;
              t += col;
              t += '<a href="/team/' + teams[j].name + '" target="_blank">' + teams[j].name + '</a>';
              if(solutions.find(item=>item.team==teams[j].id)==undefined){
                t+=""+end_div;
              }
              else{
                t+='<a class="text-dark collapsed" data-toggle="collapse" href="#team-solutions-'+teams[j].id+'_'+checkp[i].id+'" role="button" aria-expanded="false" aria-controls="team-solutions-'+teams[j].id+'_'+checkp[i].id+'"> Решения</a>'+end_div;
                sol_list+='<div class="container collapse mt-3 mb-3" id="team-solutions-'+teams[j].id+'_'+checkp[i].id+'" style="background: gainsboro;">';
                  for(l in solutions){
                    sol_list+=row;
                    if(solutions[l].solution_file!=""){
                      sol_list+=col+'<a href="/media/'+solutions[l].solution_file+'" target="_blank">'+solutions[l].solution_file.split("/")[1]+'</a>'+end_div;
                    }
                    else{
                      sol_list+=col+'-'+end_div
                    }
                    if(solutions[l].solution_link!=""){
                      sol_list+=col+'<a href="'+solutions[l].solution_link+'" target="_blank">Ссылка</a>'+end_div;
                    }
                    else{
                      sol_list+=col+'-'+end_div;
                    }
                    sol_list+=col+parceTime(solutions[l]["created"])+end_div;
                    sol_list+=end_div;
                  }
                  sol_list+=end_div;
              }
              t+=col+'<a href="'+teams[j].link+'" target="_blank" class="btn btn-sm btn-blue">Подключится</a>'+ end_div;
              let chk=checked.find(index=>index.team==teams[j].id && index.checkpoint==checkp[i].id);
              // console.log(chk);
              // console.log(chk+'|'+checkp[i].id);
              if(chk!=undefined && chk.checkpoint==checkp[i].id){
                if(chk.score!=null){
                  t+=col+'счет:'+chk.score+end_div;
              }
              else{
                t+=col+'-'+end_div;
              }
                if(chk.is_came==true){
                  t+=col+'явились!'+end_div;
                }
                else if(chk.is_came==false){
                  t+=col+'не явились'+end_div;
                }
                else{
                  t+=col+'-'+end_div;
                }
              }
              else{
                t+=col+'-'+end_div+col+'-'+end_div;
              }
              evaluate_list='';
              if (isActive(checkp[i])){
                t+=col+'<a class="collapsed btn btn-sm btn-primary" data-toggle="collapse" href="#team-evaluate-'+teams[j].id+'_'+checkp[i].id+'" role="button" aria-expanded="false" aria-controls="team-evaluate-'+teams[j].id+'_'+checkp[i].id+'">Оценить</a>'+end_div;
                t+=col+'<a class="btn btn-sm btn-green">Команда пришла</a>'+end_div;
                evaluate_list+='<div class="container collapse mt-3 mb-3" id="team-evaluate-'+teams[j].id+'_'+checkp[i].id+'" style="background: thistle;"><form method="post" class="form mt-3" id="evaluate-form-'+teams[j].id+'_'+checkp[i].id+'">';
                for(r in rating){
                  evaluate_list+='<label>'+rating[r].name+'</label><input type="number" class="form-control mt-1" style="max-width: 4em;margin-left: auto;margin-right: auto;" id="input-'+rating[r].id+'">'
                }
                evaluate_list+='<input type="button" value="Сохранить" class="btn btn-primary btn-blue mt-3 mb-3" required id="login_submit"></form>'+end_div;
              }
              else{
                t+=col+end_div;
              }
              t += end_div;
              t+=evaluate_list;
              t+=sol_list+"<hr>";
              sol_list="";
            }
            $("#checkpoint" + checkp[i].id).html(t);
            if(isActive(checkp[i])){
              $("#div-checkpoint" + checkp[i].id).css({"border":"solid forestgreen","border-width":"2px", "border-radius":"10px"})
            }
            else{
              $("#div-checkpoint" + checkp[i].id).css({"border":"solid grey","border-width":"2px", "border-radius":"10px"})
            }
          }
        }

      function parceTime(time){
        let x=time.split("T")[0].split("-")
        return x[2]+"."+x[1]+"."+x[0]+" "+time.split("T")[1].split(".")[0];
      }
      function isActive(cp){
        let now=new Date();
        let s=new Date(cp.start_date);
        let e=new Date(cp.end_date);

        if(now-s>=0 && now-e<=0){
          active_checkpoint=cp.id;
          return true;
        }
        else{
          return false;
        }
      }
      function wait(){
        if(active_checkpoint==null){
         setTimeout(wait,10); 
        }
        else{
          $("#checkpoint" + active_checkpoint).attr("class","container collapse show");
        }
      }
      wait();
      getCheckpoints();

    </script>
    {%endblock scripts %}