{% extends "base.html" %}
{% load static %}

{% block head%}<link rel="stylesheet" href="{% static 'css/index.css'%}">{% endblock head %}
{% block title %}Хакатон{% endblock title %}
{% block content %}
{% include "header.html" %}
    <div class="base-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main role="main">
            <h1 class="cover-heading">Хакатон</h1>
            <img src="{%static 'svg/code_typing.svg'%}" alt="кодеры кодят код" style="width: 60%; margin-top: 3%; margin-bottom: 2%;">
            <p class="lead">Та шо тут сложного просто береш и кодиш</p>
            <p class="lead"></p>
                <a href="auth/join" class="btn btn-lg btn-green">Регистрация</a>
            </p>
        </main>
        <footer class=" mastfoot mt-auto">
            <!-- <div>
                <p>Machalka</p>
            </div> -->
        </footer>

    </div>
    {% endblock content %}