{% extends "base.html" %}
{% load static %}

{% block head%}<link rel="stylesheet" href="{% static 'css/index.css'%}">
<link rel="stylesheet" href="{% static 'tasks/card_style.css'%}">{% endblock head %}
{% block title %}Хакатон{% endblock title %}
{% block content %}
{% include "header.html" %}
    <div class="base-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main role="main">
            {% include "back_button.html" %}
            {%if news%}
            <h1 class="cover-heading display-4 mb-5">{{news.title}}</h1>
            <div class="container">
                <a href="/media/{{news.image}}" target="_blank">
                <img src="/media/{{news.image}}" alt="Тут картинка" style="max-width: 40em; min-width: 25em">
                </a>
            </div>
            <div class="container mt-3">
                <p>
                    {{news.text}}
                </p>
            </div>
            <div class="container">
                <p style="font-style: italic; font-size: small;">{{news.created}}</p>
            </div>
            {%else%}
            {% include "no_content.html" %}
            {%endif%}
        </main>

    </div>
    {% endblock content %}
    {%block scripts%}
    <!-- <script src="{% static 'js/form_datetime.js' %}"></script> -->
    <!-- <script src="{% static 'js/number increase.js' %}"></script> -->
    <!-- <script src="{% static 'main/get_data.js' %}"></script> -->
    {%endblock%}